<h2>Users-Table</h2>
<mat-form-field>
  <div style="margin: 3px">
    <input
      matInput
      type="text"
      (keyup)="doFilter($event.target.value)"
      placeholder="Filter"
    />
  </div>
</mat-form-field>



<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
    
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
  
  </mat-expansion-panel>
</mat-accordion>






<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.firstname }} {{ element.lastname }}
    </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary"  matTooltip="Info about the action"
      aria-label="Button that displays a tooltip when focused or hovered over">
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Update</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent">
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
</mat-paginator>
